/*=========================*\
	COMMON
\*=========================*/

*:focus {
	outline: none;
}
* {
	box-sizing: border-box;
}
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

.hide {
	display: none;
}

a[href^="tel"]{
    color:inherit;
    text-decoration:none;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}
p {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 12px;
	opacity: 0;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
}
body.ready {
	opacity: 1;
}

.main_width {
	width: 1070px;
	margin: 0 auto;
}

.btn {
	text-decoration: none;
	cursor: pointer;
}
.btn.btn_arrow.btn_arrow00757b a {
	color: #00757b;
}
.btn.btn_arrow.btn_arrow00757b a:hover {
	color: #00757b;
}
.btn.btn_arrow.btn_arrow00757b a > i,
.btn.btn_arrow.btn_arrow00757b a:hover > i {
	background: url(../images/icon_arrow_2.png) right center no-repeat;
	background-position: 0 0;
}
.btn.btn_arrow a {
	padding-right: 15px;
	cursor: pointer;
	color: #191919;
	font-size: 12px;
	text-decoration: none;
	position: relative;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
	display: inline-block;
}
.btn.btn_arrow a > i {
	background: url(../images/btn_arrow.png) right center no-repeat;
	width: 8px;
	height: 10px;
	background-position: 0 0;
	display: inline-block;
    position: absolute;
    top: 3px;
    right: 1px;
}
.btn.btn_arrow a:hover {
	color: #f68b1f;
	-webkit-transform: translateX(5px);
	transform: translateX(5px);
}
.btn.btn_arrow a:hover > i {
	background-position: 0 -10px;
}
.btn_icon {
	padding: 8px 20px;
	border-radius: 20px;
	display: inline-block;
	margin: 7px 7px 7px 0;
}
.btn_icon {
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
	text-decoration: none;
	text-transform: uppercase;
	font-size: 11px;
}
.btn_icon span {
	line-height: 20px;
}
.btn_icon.btn_gradient1 {
	background: rgba(0,146,153,1);
	background: -moz-linear-gradient(top, rgba(0,146,153,1) 0%, rgba(0,94,99,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,146,153,1)), color-stop(100%, rgba(0,94,99,1)));
	background: -webkit-linear-gradient(top, rgba(0,146,153,1) 0%, rgba(0,94,99,1) 100%);
	background: -o-linear-gradient(top, rgba(0,146,153,1) 0%, rgba(0,94,99,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,146,153,1) 0%, rgba(0,94,99,1) 100%);
	background: linear-gradient(to bottom, rgba(0,146,153,1) 0%, rgba(0,94,99,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009299', endColorstr='#005e63', GradientType=0 );
}
.btn_icon.btn_gradient1:hover {
	background: #006065;
}
.btn_icon .icon_xemdongia {
	width: 18px;
	height: 22px;
	float: left;
	background: url(../images/icon_xemdongia.png) center no-repeat;
	margin-right: 10px;
}
.btn_icon .icon_thanhtoan {
	width: 22px;
	height: 21px;
	float: left;
	background: url(../images/icon_thanhtoan.png) center no-repeat;
	margin-right: 10px;
}
.btn_icon.btn_gradient2 {
	background: rgba(152,152,152,1);
	background: -moz-linear-gradient(top, rgba(152,152,152,1) 0%, rgba(54,54,54,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(152,152,152,1)), color-stop(100%, rgba(54,54,54,1)));
	background: -webkit-linear-gradient(top, rgba(152,152,152,1) 0%, rgba(54,54,54,1) 100%);
	background: -o-linear-gradient(top, rgba(152,152,152,1) 0%, rgba(54,54,54,1) 100%);
	background: -ms-linear-gradient(top, rgba(152,152,152,1) 0%, rgba(54,54,54,1) 100%);
	background: linear-gradient(to bottom, rgba(152,152,152,1) 0%, rgba(54,54,54,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#989898', endColorstr='#363636', GradientType=0 );
}
.btn_icon.btn_gradient2:hover {
	background: #3c3c3c;
}
.btn_icon .icon_xemquihoach {
	width: 22px;
	height: 22px;
	float: left;
	background: url(../images/icon_xemquihoach.png) center no-repeat;
	margin-right: 10px;
	background-size: 100% 100%;
}
.btn_icon.btn_gradient3 {
	background: rgba(247,176,10,1);
	background: -moz-linear-gradient(top, rgba(247,176,10,1) 0%, rgba(224,105,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(247,176,10,1)), color-stop(100%, rgba(224,105,0,1)));
	background: -webkit-linear-gradient(top, rgba(247,176,10,1) 0%, rgba(224,105,0,1) 100%);
	background: -o-linear-gradient(top, rgba(247,176,10,1) 0%, rgba(224,105,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(247,176,10,1) 0%, rgba(224,105,0,1) 100%);
	background: linear-gradient(to bottom, rgba(247,176,10,1) 0%, rgba(224,105,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7b00a', endColorstr='#e06900', GradientType=0 );
}
.btn_icon.btn_gradient3:hover {
	background: #e06b00;
}
.btn_icon .icon_dinhgia {
	width: 30px;
	height: 22px;
	float: left;
	background: url(../images/icon_dinhgia.png) center no-repeat;
	margin-right: 10px;
	background-size: 100% 100%;
}

.btn_icon.btn_gradient4 {
	background: rgba(0,204,193,1);
	background: -moz-linear-gradient(top, rgba(0,204,193,1) 0%, rgba(0,105,149,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,204,193,1)), color-stop(100%, rgba(0,105,149,1)));
	background: -webkit-linear-gradient(top, rgba(0,204,193,1) 0%, rgba(0,105,149,1) 100%);
	background: -o-linear-gradient(top, rgba(0,204,193,1) 0%, rgba(0,105,149,1) 100%);
	background: -ms-linear-gradient(top, rgba(0,204,193,1) 0%, rgba(0,105,149,1) 100%);
	background: linear-gradient(to bottom, rgba(0,204,193,1) 0%, rgba(0,105,149,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ccc1', endColorstr='#006995', GradientType=0 );
}
.btn_icon.btn_gradient4:hover {
	background: #007f9f;
}
.btn_icon .icon_cungdongia {
	width: 22px;
	height: 22px;
	float: left;
	background: url(../images/icon_cungdongia.png) center no-repeat;
	margin-right: 10px;
	background-size: 100% 100%;
}
.btn_gradient_yellow {
	background: rgba(247,176,10,1);
	background: -moz-linear-gradient(top, rgba(247,176,10,1) 0%, rgba(224,106,0,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(247,176,10,1)), color-stop(100%, rgba(224,106,0,1)));
	background: -webkit-linear-gradient(top, rgba(247,176,10,1) 0%, rgba(224,106,0,1) 100%);
	background: -o-linear-gradient(top, rgba(247,176,10,1) 0%, rgba(224,106,0,1) 100%);
	background: -ms-linear-gradient(top, rgba(247,176,10,1) 0%, rgba(224,106,0,1) 100%);
	background: linear-gradient(to bottom, rgba(247,176,10,1) 0%, rgba(224,106,0,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7b00a', endColorstr='#e06a00', GradientType=0 );
	border: 0;
	color: #fff;
}
.btn_gradient_yellow:hover {
	background: rgba(224,106,0,1);
	background: -moz-linear-gradient(top, rgba(224,106,0,1) 0%, rgba(247,176,10,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(224,106,0,1)), color-stop(100%, rgba(247,176,10,1)));
	background: -webkit-linear-gradient(top, rgba(224,106,0,1) 0%, rgba(247,176,10,1) 100%);
	background: -o-linear-gradient(top, rgba(224,106,0,1) 0%, rgba(247,176,10,1) 100%);
	background: -ms-linear-gradient(top, rgba(224,106,0,1) 0%, rgba(247,176,10,1) 100%);
	background: linear-gradient(to bottom, rgba(224,106,0,1) 0%, rgba(247,176,10,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e06a00', endColorstr='#f7b00a', GradientType=0 );
	color: #fff;
}
.btn_submit_contact {
	border-radius: 20px;
	padding: 10px 25px;
	font-size: 11px;
	text-transform: uppercase;
	text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
	color: #fff;
	float: right;
}
.btn_tieptuc {
	background: rgba(246,139,31,1);
	background: -moz-linear-gradient(top, rgba(246,139,31,1) 0%, rgba(235,129,23,1) 50%, rgba(246,139,31,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(246,139,31,1)), color-stop(50%, rgba(235,129,23,1)), color-stop(100%, rgba(246,139,31,1)));
	background: -webkit-linear-gradient(top, rgba(246,139,31,1) 0%, rgba(235,129,23,1) 50%, rgba(246,139,31,1) 100%);
	background: -o-linear-gradient(top, rgba(246,139,31,1) 0%, rgba(235,129,23,1) 50%, rgba(246,139,31,1) 100%);
	background: -ms-linear-gradient(top, rgba(246,139,31,1) 0%, rgba(235,129,23,1) 50%, rgba(246,139,31,1) 100%);
	background: linear-gradient(to bottom, rgba(246,139,31,1) 0%, rgba(235,129,23,1) 50%, rgba(246,139,31,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f68b1f', endColorstr='#f68b1f', GradientType=0 );
	border: 0;
	color: #fff;
	text-transform: uppercase;
	padding: 10px 20px;
	border-radius: 5px;
}
.btn_naptien {
	padding: 10px 40px;
	border-radius: 20px;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
}

.mobile {
	display: none;
}


/*=========================*\
	HEADER
\*=========================*/

#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 265px;
	height: 60px;
	z-index: 999;
	overflow: hidden;
}
.menu_mobile_active #header {
	height: 100%;
	overflow: visible;
}
#header .header_show {
	height: 60px;
	background: #fff;
}
#logo {
	background: url(../images/logo_cenvalue.png) center no-repeat;
	width: 148px;
	height: 35px;
	float: left;
	margin-left: 16px;
	margin-top: 10px;
}
#logo a {
	display: block;
	width: 100%;
	height: 100%;
	text-indent: -999999px
}

#menu_button {
	display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 60px;
    height: 60px;
    font-size: 0;
    text-indent: -9999px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
	position: relative;
	background: #00757b;
	float: right;
}		
#menu_button:focus {
    outline: 0;
}
#menu_button span {
	display: block;
	position: absolute;
	top: 30px;
	left: 18px;
	right: 18px;
	height: 4px;
	background: #fff;
}
#menu_button span::after, 
#menu_button span::before {
	position: absolute;
	display: block;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #fff;
	content: "";
}
#menu_button span::before {
	top: -8px;
	-webkit-transition-property: top,-webkit-transform;
	transition-property: top,transform;
}
#menu_button span::after {
	bottom: -8px;
	-webkit-transition-property: bottom, -webkit-transform;
		  transition-property: bottom, transform;
}

#menu_button span::after, #menu_button span::before {
	-webkit-transition-duration: .3s,.3s;
	transition-duration: .3s,.3s;
	-webkit-transition-delay: .3s,0s;
	transition-delay: .3s,0s;
}
body.menu_mobile_active {
	overflow: hidden;
}
.menu_mobile_active #menu_button span {
	background: none;
}
.menu_mobile_active #menu_button span::before {
  top: 0;
  -webkit-transform: rotate(45deg);
	  -ms-transform: rotate(45deg);
		  transform: rotate(45deg);
}

.menu_mobile_active #menu_button span::after {
  bottom: 0;
  -webkit-transform: rotate(-45deg);
	  -ms-transform: rotate(-45deg);
		  transform: rotate(-45deg);
}

.menu_mobile_active #menu_button span::before,
.menu_mobile_active #menu_button span::after {
	-webkit-transition-delay: 0s, 0.3s;
		  transition-delay: 0s, 0.3s;
	background-color:#fff;	  
}
#navigation {
	/* opacity: 0; */
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	background: #00757b;
}
.menu_mobile_active #navigation {
	opacity: 1;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}
#navigation .menu_list .menu_item {
	border-top: 1px solid #009ca4;
	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(0,88,93,1);
	-moz-box-shadow: inset 0px 1px 0px 0px rgba(0,88,93,1);
	box-shadow: inset 0px 1px 0px 0px rgba(0,88,93,1);
	display: table;
	width: 100%;
	height: 50px;
}
#navigation .menu_list .menu_item.current,
#navigation .menu_list .menu_item:hover {
	background: rgba(218,110,0,1);
	background: -moz-linear-gradient(left, rgba(218,110,0,1) 0%, rgba(246,139,30,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(218,110,0,1)), color-stop(100%, rgba(246,139,30,1)));
	background: -webkit-linear-gradient(left, rgba(218,110,0,1) 0%, rgba(246,139,30,1) 100%);
	background: -o-linear-gradient(left, rgba(218,110,0,1) 0%, rgba(246,139,30,1) 100%);
	background: -ms-linear-gradient(left, rgba(218,110,0,1) 0%, rgba(246,139,30,1) 100%);
	background: linear-gradient(to right, rgba(218,110,0,1) 0%, rgba(246,139,30,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#da6e00', endColorstr='#f68b1e', GradientType=1 );
}
#navigation .menu_list .menu_item > a {
	text-transform: uppercase;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
	text-decoration: none;
	display: table-cell;
	vertical-align: middle;
	height: 50px;
	padding: 0 20px;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
}
#navigation .menu_list .menu_item:hover a {
	-webkit-transform: translateX(5px);
	transform: translateX(5px);
}
#navigation .menu_list .menu_item > a > span {
	display: inline-block;
	line-height: 50px;
	margin-left: 10px;
}
#navigation .menu_list .menu_item:first-of-type > a {
	/* display: inline-block; */
	text-transform: initial;
	font-weight: normal;
}
#navigation .menu_list .menu_item:first-of-type:hover {
	/* background: transparent; */
}
#navigation .menu_icon {
	display: inline-block;
}
#navigation .menu_icon.icon_dangky {
	background: url(../images/icon_dangnhap.png) center no-repeat;
	width: 32px;
	height: 50px;
	float: left;
}
#navigation .menu_icon.icon_trangchu {
	background: url(../images/icon_trangchu.png) center no-repeat;
	width: 32px;
	height: 50px;
	float: left;
}
#navigation .menu_icon.icon_dinhgia {
	background: url(../images/icon_dinhgia.png) center no-repeat;
	width: 32px;
	height: 50px;
	float: left;
}
#navigation .menu_icon.icon_xemquihoach {
	background: url(../images/icon_xemquihoach.png) center no-repeat;
	width: 32px;
	height: 50px;
	float: left;
}
#navigation .menu_icon.icon_cungdongia {
	background: url(../images/icon_cungdongia.png) center no-repeat;
	width: 32px;
	height: 50px;
	float: left;
}
#navigation .menu_icon.icon_vechungtoi {
	background: url(../images/icon_vechungtoi.png) center no-repeat;
	width: 32px;
	height: 50px;
	float: left;
}
#navigation .menu_icon.icon_lienhe {
	background: url(../images/icon_lienhe.png) center no-repeat;
	width: 32px;
	height: 50px;
	float: left;
}
#navigation .nav_contact {
	border-top: 1px solid #009ca4;
	-webkit-box-shadow: inset 0px 1px 0px 0px rgba(0,88,93,1);
	-moz-box-shadow: inset 0px 1px 0px 0px rgba(0,88,93,1);
	box-shadow: inset 0px 1px 0px 0px rgba(0,88,93,1);
	padding: 20px 20px 0;
	color: #fff;
	font-size: 14px;
}
#navigation .nav_social {
	padding: 20px 20px 0;
	color: #fff;
	font-size: 14px;
}
#navigation .nav_social .social_list {
	margin-top: 10px;
}
#navigation .nav_social .social_list .social_item {
	display: inline-block;
	width: 32px;
	height: 32px;
	text-indent: -999999px;
	margin-right: 10px;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
}
#navigation .nav_social .social_list .social_item:hover {
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
}
#navigation .nav_social .social_list .social_item.social_item_facebook {
	background: url(../images/icon_facebook.png) center no-repeat;
}
#navigation .nav_social .social_list .social_item.social_item_google {
	background: url(../images/icon_google.png) center no-repeat;
}
#navigation .nav_social .social_list .social_item.social_item_linkedin {
	background: url(../images/icon_linkedin.png) center no-repeat;
}
	
	
/*=========================*\
	MAIN
\*=========================*/

#main {
	position: relative;
}
#main .main_wrapper {
	width: 100%;
	height: 100%;
}
#map_view {
	position: relative;
	z-index: 0;
	width: 100%;
	height: 100%;
}
#map_view iframe {
	width: 100%;
	height: 100%;
}
.block_overlay {
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
}
.block_overlay:after {
	content:"";
	display: block;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.4);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}
#search_box {
	position: absolute;
	z-index: 1;
	width: 606px;
	height: 60px;
	left: 50%;
	top: 50%;
	margin-left: -303px;
	margin-top: -30px;
	background: #fff;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
	overflow: hidden;
}
.page_search #search_box {
	margin: 0;
	left: initial;
	top: 30px;
	right: 130px;
}
.page_search .block_overlay {
	z-index: inherit;
}
.page_search .block_overlay:after { 
	display: none;
}
#search_box .form_group {
	height: 60px;
	float: left;
}
#search_box .form_group_input_text {
	width: 386px;
	border-right: 1px solid #bcbcbc;
}
#search_box .input_text { 
	width: 100%;
	height: 100%;
	border: 0;
	padding: 0 10px;
	font-size: 14px;
}
#search_box .form_group_input_select {
	width: 165px;
	padding: 0 20px;
}
#search_box .input_select {
	width: 100%;
	height: 100%;
	border: 0;
	font-size: 14px;
	font-weight: bold;
	color: #676767;
	background: #fff;
	box-shadow: none;
}
#search_box .form_group_icon_location {
	width: 40px;
	height: 60px;
	margin-left: 20px;
}
#search_box .form_group_icon_location .icon_location {
	display: block;
	background: url(../images/icon_location.png) center no-repeat;
	width: 40px;
	height: 60px;
}
#search_box .form_group_submit {
	width: 160px;
}
#search_box .input_submit {
	width: 100%;
	height: 100%;
	border: 0;
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	text-transform: uppercase;
	background: #f68b1f url(../images/icon_search.png) 30px center no-repeat;
	padding: 0 30px;
    text-align: right;
}

.popup_map_wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 15px;
}
.popup_map {
	width: 500px;
	position: relative;
	top: 30%;
	left: 50%;
	margin-left: -250px;
	background: rgba(255,255,255,0.9);
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
	font-size: 14px;
}
.popup_map .p_address {
	padding: 20px 20px 10px;
	border-bottom: 1px solid #aaaaaa;
}
.popup_map .p_address p {
	margin: 5px 0 0;
}
.popup_map .p_half {
	width: 50%;
	float: left;
	padding: 15px 20px;
	border-bottom: 1px solid #aaaaaa;
	border-right: 1px solid #aaaaaa;
}
.popup_map .p_half:last-of-type {
	border-right: 0;
}	
.popup_map .p_value {}
.popup_map .p_value a {
	color: #393939;
	text-decoration: none;
}
.popup_map .p_value .icon_money {
	background: url(../images/icon_money.png) center no-repeat;
	width: 24px;
	height: 24px;
	display: inline-block;
	float: left;
	margin-right: 8px;
}
.popup_map .p_value span,
.popup_map .p_status p {
	line-height: 24px;
}
.popup_map .popup_button_group {
	padding: 10px 20px;
}
	
.popup_map .popup_left {
	float: left;
	width: 55%;
	border-right: 1px solid #aaaaaa;
}		
.popup_map .property_title {
	padding: 20px 20px 0;
}	
.popup_map .property_address {
	padding: 10px 20px 20px;
}
.popup_map .popup_right {
	float: right;
	width: 45%;
	padding: 20px 15px; 
}	
.popup_map .property_info_row {
	border-top: 1px solid #aaa;
}
.popup_map .property_info_row .property_info_left {
	width: 55%;
	float: left;
	border-right: 1px solid #aaaaaa;
	padding: 15px 20px;
}
.popup_map .property_info_row .property_info_right {
	width: 45%;
	float: right;
	padding: 15px 20px;
	text-align: center;
}
.popup_map .property_thumbbnail {
	width: 100%;
	height: 100px;
}
.popup_map .btn_close_popup {
	background: url(../images/btn_close_popup.png) center no-repeat;
	width: 30px;
	height: 30px;
	position: absolute;
	bottom: 15px;
	right: 10px;
	border: 0;
	display: none;
}

	
/*=========================*\
	PAGE XEM QUI HOACH
\*=========================*/	

.page_xemquihoach_wrapper {
	background: #f5f5f5;
}
.page_xemquihoach_left {
	width: 265px;
	height: 100%;
	position: fixed;
	float: left;
	background: url(../images/xemquihoach_left.jpg) center no-repeat;
	background-size: cover;
}
.page_xemquihoach_right {
	float: left;
	height: 100%;
	margin-left: 265px;
}
.page_xemquihoach_right .page_xemquihoach_right_inner {
}
.xemquihoach_header {
	padding: 40px 50px 20px;
	margin-bottom: 15px;
	border-bottom: 1px solid #aaa;
}
.xemquihoach_header p strong {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	font-style: normal;
	color: #00757b;
	margin-bottom: 5px;
	display: block;
}
.xemquihoach_header p {
	font-size: 12px;
	font-style: italic;
	color: #1b1b1b;
}
.filter_group {
	padding: 10px 0px 10px 50px;
	max-width: 1170px;
}
.filter_group .filter_col {
	float: left;
	width: 16%;
	padding-right: 20px;
}
.filter_group .filter_col:last-of-type {
	padding-right: 0;
	width: 19%;
}
.filter_group .filter_col label {
	display: block;
	color: #00757b;
	font-size: 14px;
	font-weight: bold;
	font-style: italic;
	height: 20px;
	margin-bottom: 5px;
}
.filter_group .filter_col select {
	background: rgba(253,253,253,1);
	background: -moz-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(212,212,212,1) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(253,253,253,1)), color-stop(100%, rgba(212,212,212,1)));
	background: -webkit-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(212,212,212,1) 100%);
	background: -o-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(212,212,212,1) 100%);
	background: -ms-linear-gradient(top, rgba(253,253,253,1) 0%, rgba(212,212,212,1) 100%);
	background: linear-gradient(to bottom, rgba(253,253,253,1) 0%, rgba(212,212,212,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fdfdfd', endColorstr='#d4d4d4', GradientType=0 );
	border: 0;
	border-radius: 5px;
	padding: 8px;
	width: 100%;
	height: 35px;
	text-align: center;
	font-size: 14px;
	color: #444444;
}
.filter_group .filter_col input[type="text"] {
	width: 100%;
	height: 35px;
	font-size: 14px;
	background: #e8e8e8;
	border: 0;
	border-radius: 5px;
	padding: 8px;
}
#btn_submit_xem_qui_hoach {
	margin: 20px 0 0;
}
.page_xemquihoach_wrapper #map_xemquihoach {
	width: 100%;
	height: 510px;
	padding: 50px 0 50px 50px;
}
#map_xemquihoach .map_xemquihoach_inner {
	width: 100%;
	height: 100%;
	padding-right: 50px;
}
#map_xemquihoach .map_xemquihoach_inner iframe {
	width: 100%;
	height: 100%;
}

	
/*=========================*\
	PAGE LIEN HE
\*=========================*/	

.page_contact_wrapper {
	background: #f5f5f5;
}
.page_contact_left {
	width: 430px;
	height: 100%;
	position: fixed;
	float: left;
	background: url(../images/lienhe_left.jpg) center no-repeat;
	background-size: cover;
}
.page_contact_right {
	float: left;
	max-width: 900px;
	height: 100%;
	margin-left: 430px
}
.page_contact_right .block_contact_address {
	padding: 10px;
	margin-bottom: 25px;
	border-bottom: 1px solid #aaa;
}
.page_contact_right .page_contact_right_inner {
	padding: 40px;
}
.page_contact_right .block_contact_address_left {
	float: left;
	width: 50%;
}
.page_contact_right .block_contact_address_right {
	float: right;
	width: 50%;
}
.page_contact_right .contact_item {
	margin-bottom: 0;
}
.page_contact_right .contact_item p {
	margin-bottom: 20px;
}
.page_contact_right .contact_item .contact_item_header {
	color: #00757b;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
}
.page_contact_right .contact_item .contact_item_body {
	color: #3f3f3f;
	font-size: 14px;
	font-weight: normal;
}
.page_contact_right .block_contact_address_right .contact_item {
	float: left;
	width: 50%;
}
.page_contact_right .block_contact_form {
	font-size: 14px;
}
.page_contact_right .block_contact_form p {
	margin: 10px 0;
}
.page_contact_right .block_contact_form .block_contact_form_left {
	float: left;
	width: 50%;
}
.page_contact_right .block_contact_form .block_contact_form_right {
	float: right;
	width: 50%;
	padding-top: 15px;
}
.page_contact_right .block_contact_form .block_contact_form_right .contact_item {
	margin-bottom: 25px;
}
.page_contact_right .block_contact_form .form_group {
	margin: 20px 0px;
}
.page_contact_right .block_contact_form .form_group .form_label {
	float: left;
	width: 100px;
	height: 35px;
	line-height: 35px;
}
.page_contact_right .block_contact_form .form_group .form_field {
	float: left;
	width: 250px;
}
.page_contact_right .block_contact_form .form_group .form_field input {
	width: 100%;
	background: #e8e8e8;
	border-radius: 5px;
	height: 35px;
	line-height: 35px;
	padding: 0 10px;
	border: 0;
	color: #8d8d8d;
}
.page_contact_right .block_contact_form .form_group .form_field textarea {
	width: 100%;
	background: #e8e8e8;
	border-radius: 5px;
	padding: 10px;
	border: 0;
	color: #8d8d8d;
}
.page_contact_sidelink {
	position: fixed;
	top: 100px;
	left: 210px;
	z-index: 9;
}
.page_contact_sidelink a {
	background: #00757b;
	border-bottom: 1px solid #009ca4;
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(0,88,93,1);
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(0,88,93,1);
    box-shadow: inset 0px 1px 0px 0px rgba(0,88,93,1);
	display: block;
	padding: 15px 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
	font-size: 14px;
	width: 220px;
}
.page_contact_sidelink a:last-of-type {
	border-bottom: 0;
}
.page_contact_sidelink a.current,
.page_contact_sidelink a:hover {
	background: #00575b;
}
.page_contact_right .page_contact_right_header {
	text-transform: uppercase;
	font-size: 16px;
	font-weight: bold;
	color: #00757b;
	margin-bottom: 20px;
}


#list_faq [data-accordion] [data-content] {
    overflow: hidden;
    max-height: 0;
}

#list_faq [data-accordion] {
    line-height: 1;
}

#list_faq [data-control],
#list_faq [data-content] > * {
    border-left: 1px solid #888;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
    border-top: 0px solid #888;
    padding: 15px;
}

#list_faq [data-content] [data-accordion] {
    border: 0;
    padding: 0;
}

#list_faq [data-accordion] [data-control] {
    position: relative;
    padding-right: 40px;
	background: transparent;
	width: 100%;
	text-align: left;
	color: #00757b;
	font-size: 14px;
	font-weight: bold;
}
#list_faq [data-accordion]:last-of-type [data-control] {
	border-bottom: 1px solid #aaa;
}
#list_faq [data-accordion]:first-of-type [data-control] {
	border-top: 1px solid #aaa;
}

#list_faq [data-accordion] > [data-control]:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 12px;
    font-size: 25px;
    font-weight: 200;
    color: #444;
    height: 15px;
    width: 24px;
    background: url('../images/down.png') center center no-repeat;
    background-size: 50%;
}

#list_faq [data-accordion].open > [data-control]:after {
    -webkit-transform: rotate(-180deg); 
    -ms-transform: rotate(-180deg); 
    transform: rotate(-180deg); 
}

#list_faq article {
	font-size: 14px;
	color: #434343;
}
#list_faq article p {
	margin-bottom: 15px;
	line-height: 1.5;
}
#list_faq article ul {
	margin-left: 20px;
	margin-bottom: 20px;
}
#list_faq article ul li {	
	list-style-type: disc;	
}


/*=========================*\
	FOOTER
\*=========================*/	

#footer {
	width: 100%;
	height: 100px;
	border-top: 1px solid #00929a;
	overflow: hidden;
	position: relative;
}
#footer .footer_left {
	width: 50%;
	height: 100%;
	float: left;
	background: rgba(0,73,77,1);
	background: -moz-linear-gradient(-45deg, rgba(0,73,77,1) 0%, rgba(0,146,154,1) 100%);
	background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(0,73,77,1)), color-stop(100%, rgba(0,146,154,1)));
	background: -webkit-linear-gradient(-45deg, rgba(0,73,77,1) 0%, rgba(0,146,154,1) 100%);
	background: -o-linear-gradient(-45deg, rgba(0,73,77,1) 0%, rgba(0,146,154,1) 100%);
	background: -ms-linear-gradient(-45deg, rgba(0,73,77,1) 0%, rgba(0,146,154,1) 100%);
	background: linear-gradient(135deg, rgba(0,73,77,1) 0%, rgba(0,146,154,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00494d', endColorstr='#00929a', GradientType=1 );
}
#footer .footer_right {
	width: 50%;
	height: 100%;
	float: right;
	background: #fff;
}
#footer .footer_block {
	float: left;
}
#footer .footer_block.footer_block_info {
	float: right;
	padding: 10px 40px 10px 0;
	border-right: 1px solid #009ca4;
	-webkit-box-shadow: 1px 0px 0px 0px rgba(0,88,93,1);
	-moz-box-shadow: 1px 0px 0px 0px rgba(0,88,93,1);
	box-shadow: 1px 0px 0px 0px rgba(0,88,93,1);
}
#footer .footer_block.footer_block_info p {
	color: #ececec;
	margin: 0 0 5px;
}
#footer .footer_block.footer_block_menu {
	float: right;
	padding: 15px 35px 10px 35px;
	-webkit-box-shadow: inset -1px 0px 0px 0px rgba(0,88,93,1);
	-moz-box-shadow: inset -1px 0px 0px 0px rgba(0,88,93,1);
	box-shadow: inset -1px 0px 0px 0px rgba(0,88,93,1);
}
#footer .footer_block.footer_block_menu ul {
	margin: 0;
	padding: 0;
}
#footer .footer_block.footer_block_menu ul>li {
	list-style: none;
	padding: 0 0 10px;
}
#footer .footer_block.footer_block_menu ul>li a {
	color: #ececec;
	text-decoration: none;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
	display: inline-block;
}
#footer .footer_block.footer_block_menu ul>li a:hover {
	color: #f68b1f;
	-webkit-transform: translateX(5px);
	transform: translateX(5px);
}
#footer .footer_block.footer_block_contact_value,
#footer .footer_block.footer_block_support {
	padding: 20px 30px;
}
#footer .footer_block.footer_block_contact_value {
	background: #fff url(../images/footer_block_contact_value_bg.jpg) top right no-repeat;
	width: 260px;
	height: 100%;
	border-right: 1px solid #b2b2b2;
}
#footer .footer_block.footer_block_support {
	background: #fff url(../images/footer_block_support_bg.jpg) top right no-repeat;
	width: 260px;
	height: 100%;
}
#footer .footer_block.footer_block_contact_value .footer_block_header,
#footer .footer_block.footer_block_support .footer_block_header {
	text-transform: uppercase;
	margin: 0 0 15px;
	padding: 0;
	color: #00757b;
	font-size: 14px;
	font-weight: bold;
}


/*=========================*\
	PAGE THANH TOAN
\*=========================*/	

.page_thanhtoan_wrapper {
	background: #fff;
}
.page_thanhtoan_left {
	width: 265px;
	height: 100%;
	position: fixed;
	float: left;
	background: url(../images/thanhtoan_left.jpg) center no-repeat;
	background-size: cover;
}
.page_thanhtoan_right {
	float: left;
	height: 100%;
	margin-left: 265px;
}
.page_thanhtoan_right .page_thanhtoan_right_inner {
}
.thanhtoan_header {
	padding: 0;
	margin-bottom: 15px;
	border-bottom: 1px solid #aaa;
	background: #494949;
}
.thanhtoan_header .step_col {
	float: left;
	padding: 0 60px;
	height: 60px;
	display: table;
	font-size: 14px;
	color: #fff;
	text-transform: uppercase;
	border-right: 1px solid #707070;
	border-left: 1px solid #313131;
}
.thanhtoan_header .step_col .back_step {
	background: url(../images/icon_back_step.png) center no-repeat;
	width: 20px;
	height: 20px;
	float: left;
	cursor: pointer;
}
.thanhtoan_header .step_col .next_step {
	background: url(../images/icon_next_step.png) center no-repeat;
	width: 20px;
	height: 20px;
	float: right;
	cursor: pointer;
}
.thanhtoan_header .step_col .step_col_inner {
	display: table-cell;
	vertical-align: middle;
}
.thanhtoan_header .step_col:first-of-type {
	border-left: 0;
}
.thanhtoan_header .step_col:last-of-type {
	border-right: 0;
}
.thanhtoan_header .step_col span {
	line-height: 24px;
}
.thanhtoan_header .step_col .icon_check {
	display: inline-block;
	width: 22px;
	height: 22px;
	background: url(../images/icon_check_radio.png) center no-repeat;
	background-position: 0 -22px;
	float: left;
	margin-right: 10px;
}
.thanhtoan_header .step_col.active .icon_check {
	background-position: 0 0;
}
.page_thanhtoan_right .thanhtoan_body {
	padding: 40px;
}
.page_thanhtoan_right .thanhtoan_body .thanhtoan_left {
	border: 1px solid #aaaaaa;
	border-radius: 5px;
	width: 670px;
	float: left;
}
.page_thanhtoan_right .thanhtoan_body .thanhtoan_right {
	width: 300px;
	float: left;
	margin-left: 30px;
}
.page_thanhtoan_right .thanhtoan_body .thanhtoan_left .thanhtoan_left_inner {
	padding: 20px 40px 40px;
}
.page_thanhtoan_right .thanhtoan_body .thanhtoan_left .form_group {
	margin-bottom: 30px;
}
.page_thanhtoan_right .thanhtoan_body .thanhtoan_left .form_group .form_group_header {
	color: #00757b;
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 10px;
}
.page_thanhtoan_right .thanhtoan_body .thanhtoan_left .form_group .form_field {
	width: 50%;
	max-width: 250px;
	float: left;
	margin: 20px 0;
	font-size: 14px;
	font-weight: bold;
	color: #383838;
}
.page_thanhtoan_right .thanhtoan_body .thanhtoan_left .form_group.form_group_thongtinthanhtoan .form_field {
	width: 25%;
	padding-right: 10px;
	margin: 10px 0px;
}
.page_thanhtoan_right .thanhtoan_body .thanhtoan_left .form_group.form_group_hinthucthanhtoan .form_field {
	width: 50%;
	padding-right: 10px;
	margin: 10px 0px;
	max-width: 100%;
}
.page_thanhtoan_right .thanhtoan_body .thanhtoan_left .form_group.form_group_thongtinthanhtoan .form_field label {
	display: block;
	margin-bottom: 5px;
}
.page_thanhtoan_right .thanhtoan_body .thanhtoan_left .form_group.form_group_thongtinthanhtoan .form_field:last-of-type {
	padding-right: 0;
}
.page_thanhtoan_right .thanhtoan_body .thanhtoan_left .form_group.form_group_thongtinthanhtoan .form_field input[type="text"],
.page_thanhtoan_right .thanhtoan_body .thanhtoan_left .form_group.form_group_thongtinthanhtoan .form_field input[type="email"],
.page_thanhtoan_right .thanhtoan_body .thanhtoan_left .form_group.form_group_thongtinthanhtoan .form_field input[type="phone"] {
	width: 100%;
	background: #e8e8e8;
	border-radius: 5px;
	padding: 5px 10px;
	border: 0;
}
.page_thanhtoan_right .thanhtoan_body .thanhtoan_left .expand_container .expand_group {
	border: 1px solid #aaa;
	margin: 10px 0;
}
.page_thanhtoan_right .thanhtoan_body .thanhtoan_left .expand_container .expand_field_group {
	width: 50%;
	float: left;
}
.page_thanhtoan_right .thanhtoan_body .thanhtoan_left .expand_container .expand_field_group .expand_field {
	width: 100%;
	border-bottom: 1px solid #ddd;
	border-right: 1px solid #ddd;
	height: 36px;
}
.page_thanhtoan_right .thanhtoan_body .thanhtoan_left .expand_container .expand_field_group .expand_field:last-of-type {
	/* border-bottom: 0; */
}
.page_thanhtoan_right .thanhtoan_body .thanhtoan_left .expand_container .expand_field_group .expand_field input {
	width: 100%;
	background: #fff;
	border: 0;
	padding: 10px;
	color: #333;
}
.page_thanhtoan_right .thanhtoan_body .thanhtoan_left .expand_container .expand_field_group .expand_field textarea {
	width: 100%;
	height: 100%;
	padding: 10px;
	border: 0;
	color: #333;
}
.page_thanhtoan_right .thanhtoan_body .thanhtoan_left .expand_container .expand_field_group:nth-of-type(2) .expand_field {
	height: 108px;
	border-right: 0;
}
.page_thanhtoan_right .thanhtoan_body .thanhtoan_left .expand_container .expand_field_group .expand_content {
	padding: 20px;
}
.page_thanhtoan_right .thanhtoan_body .thanhtoan_left .expand_container .expand_field_group .expand_content img {
	max-width: 100%;
}
.page_thanhtoan_right .block_contact:last-of-type .contact_item {
	width: 33%;
	float: left;
	border-top: 1px solid #aaa;
	padding-top: 10px;
	margin-top: 10px;
} 
.page_thanhtoan_right .block_contact .contact_item {
	margin-bottom: 0;
}
.page_thanhtoan_right .block_contact .contact_item p {
	margin-bottom: 20px;
}
.page_thanhtoan_right .block_contact .contact_item .contact_item_header {
	color: #00757b;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 10px;
}
.page_thanhtoan_right .block_contact .contact_item .contact_item_body {
	color: #3f3f3f;
	font-size: 14px;
	font-weight: normal;
}
.page_thanhtoan_right .block_contact .block_contact_address_right .contact_item {
	float: left;
	width: 50%;
}
.page_thanhtoan_right .thanhtoan_body .thanhtoan_left .expand_container .expand_thanhtoantaivanphong .expand_field_group {
	width: 100%;	
}

.page_thanhtoan_right .summary_info {
	border: 1px solid #aaa;
}
.page_thanhtoan_right .summary_info .summary_info_item {}
.page_thanhtoan_right .summary_info .summary_info_item .summary_info_item_header {
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	background: #009299;
	padding: 20px;
	text-transform: uppercase;
}
.page_thanhtoan_right .summary_info .summary_info_item .summary_info_item_body {
	padding: 20px;
}
.page_thanhtoan_right .summary_info .summary_info_item .summary_info_item_header > span {
	text-transform: initial;
	float: right;
}
.page_thanhtoan_right .summary_info .summary_info_item .summary_info_item_header > span a {
	text-decoration: underline;
	color: #fff;
}
.page_thanhtoan_right .summary_info .summary_info_item .summary_info_item_header > span > i {
	display: inline-block;
	background: url(../images/icon_edit.png) center no-repeat;
	width: 16px;
	height: 16px;
	float: right;
	margin-left: 10px;
}
.page_thanhtoan_right .summary_info .summary_info_item .summary_info_item_row {
	border-bottom: 1px solid #ddd;
	padding: 10px 0;
}
.page_thanhtoan_right .summary_info .summary_info_item .summary_info_item_row .summary_info_item_col {
	width: 30%;
	float: left;
}
.page_thanhtoan_right .summary_info .summary_info_item .summary_info_item_row .summary_info_item_col:last-of-type {
	width: 70%;
	float: left;
	font-weight: bold;
}
.page_thanhtoan_right .complete_wrapper {
	padding: 85px;
}
.page_thanhtoan_right .icon_stick {
	background: url(../images/icon_stick.png) center no-repeat;
	width: 185px;
	height: 155px;
	margin: 0 auto;
}
.page_thanhtoan_right .complete_text {
	font-size: 16px;
	text-align: center;
	margin-top: 15px;
}


/*=========================*\
	PAGE VE CHUNG TOI
\*=========================*/

.about_us_slider ul {
	opacity: 0;
	visibility: hidden;
}
.about_us_slider .imageslider-linear .image-info-wrap {
	display: none;
}
.about_us_slider .imageslider-linear .image-view .image-view-wrap .image-hold .elements .main_width {
	height: 100%;
}
.about_us_slider .imageslider-linear .image-view .image-view-wrap .image-hold .elements .main_width .slider_content {
	display: table;
	height: 100%;
	width: 50%;
	float: right;
}
.about_us_slider .imageslider-linear .image-view .image-view-wrap .image-hold .elements .main_width .slider_content_inner {
	display: table-cell;
	vertical-align: middle;
}
.about_us_slider .imageslider-linear .image-view .image-view-wrap .image-hold .elements .main_width .slider_content h3 {
	color: #00757b;
	font-size: 22px;
}
.about_us_slider .imageslider-linear .image-view .image-view-wrap .image-hold .elements .main_width .slider_content p {
	color: #373535;
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 20px;
	line-height: 1.5;
}
.about_us_slider .imageslider-linear.fullwidth .image-view .image-view-wrap .image-hold,
.about_us_slider .imageslider-linear.fullwidth .image-view .image-view-wrap .image-hold-temp {
	background-position-y: bottom !important;
	background-position-x: left !important;
}
.about_us_slider .imageslider-linear .nav-back {
	background: #00757b url(../images/icon_back_slider.png) center no-repeat;
	width: 70px;
	height: 70px;
	top: -70px;
	left: initial;
	right: -100px;
}
.about_us_slider .imageslider-linear .nav-back:hover {
	background: #006267 url(../images/icon_back_slider.png) center no-repeat;
	width: 70px;
	height: 70px;
	top: -70px;
	left: initial;
	right: -100px;
}
.about_us_slider .imageslider-linear .nav-next {
	background: #00757b url(../images/icon_next_slider.png) center no-repeat;
	width: 70px;
	height: 70px;
	top: 0;
	right: -100px;
}
.about_us_slider .imageslider-linear .nav-next:hover {
	background: #006267 url(../images/icon_next_slider.png) center no-repeat;
	width: 70px;
	height: 70px;
	top: 0;
	right: -100px;
}
.about_us_slider .imageslider-linear .nav-wrap {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -535px;
	width: 1070px;
}
.about_us_wrapper .about_block {}
.about_us_wrapper .about_block .about_block_image {
	width: 100%;
}
.about_us_wrapper .about_block .about_block_image img {
	width: 100%;
}
.about_us_wrapper .about_block .about_block_content {
	padding: 20px;
}
.about_us_wrapper .about_block .about_block_content h3 {
	color: #00757b;
	font-size: 22px;
}
.about_us_wrapper .about_block .about_block_content p {
	color: #373535;
	font-size: 14px;
	font-weight: normal;
	margin-bottom: 20px;
	line-height: 1.5;
}



/*=========================*\
	DINH GIA
\*=========================*/	

.popup_middle_wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 60px 20px 20px;
}
.popup_middle {
	width: 1060px;
	height: 100%;
	margin: 0 auto;
}
.popup_middle .popup_middle_inner {
	width: 1040px;
	margin: 0 auto;
	background: #fff;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.4);
}
.popup_middle .dinhgia_tabpanel {
	background: #fff;
}
.popup_middle .dinhgia_tabpanel .ztabpanel {
	opacity: 0;
	background: #188287;
	border: 1px solid #ddd;
}
.popup_middle .dinhgia_tabpanel .ztabpanel.zui-tabpanel {
	opacity: 1;
}
.popup_middle .dinhgia_tabpanel ul {
	float: left;
	width: 222px;
	background: #188287;
	border: 0;
}
.popup_middle .dinhgia_tabpanel .zui-tabpanel-nav-wrapper li {
	width: 100%;
	display: table;
	border: 0;
	border-top: 1px solid #005b5f;
	border-bottom: 2px solid #2ac9d0;
	color: #f1f1f1;
	font-size: 14px;
}
.popup_middle .dinhgia_tabpanel .zui-tabpanel-nav-wrapper li:first-of-type {
	border-top: 0;
}
.popup_middle .dinhgia_tabpanel .zui-tabpanel-nav-wrapper li:last-of-type {
	border-bottom: 0;
}
.popup_middle .dinhgia_tabpanel .zui-tabpanel-nav-wrapper li:hover {
	background: #04595e;
}
.popup_middle .dinhgia_tabpanel ul li > span {
	display: table-cell;
	vertical-align: middle;
	padding-left: 5px;
}
.popup_middle .dinhgia_tabpanel .zui-tabpanel-nav-wrapper li.zui-active {
	background: #04595e;
}
.popup_middle .dinhgia_tabpanel .zui-tabpanel-content-wrapper {
	margin-left: 222px;
	background: #fff;
}
.popup_middle .icon_tabpanel {
	display: table-cell;
	width: 40px;
	height: 60px;
}
.popup_middle .icon_tabpanel.icon_dattrong {
	background: url(../images/icon_dattrong.png) center no-repeat;
}
.popup_middle .icon_tabpanel.icon_nhapho {
	background: url(../images/icon_nhapho.png) center no-repeat;
}
.popup_middle .icon_tabpanel.icon_bietthu {
	background: url(../images/icon_bietthu.png) center no-repeat;
}
.popup_middle .icon_tabpanel.icon_canho {
	background: url(../images/icon_canho.png) center no-repeat;
}
.popup_middle .icon_tabpanel.icon_khachsan {
	background: url(../images/icon_khachsan.png) center no-repeat;
}
.popup_middle .icon_tabpanel.icon_toanha {
	background: url(../images/icon_toanha.png) center no-repeat;
}
.popup_middle .icon_tabpanel.icon_khoxuong {
	background: url(../images/icon_khoxuong.png) center no-repeat;
}
.popup_middle .tab_header {
	color: #393939;
	font-size: 14px;
	font-weight: normal;
	padding: 20px;
	border-bottom: 1px solid #464646;
}
.popup_middle .tab_header .tab_header_title {
	color: #188287;
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 10px;
}
.popup_middle .tab_body {
	padding: 20px;
}
.popup_middle .tab_body .form_row {
	margin: 0 0 20px;
}
.popup_middle .tab_body .form_row .form_col {
	width: 25%;
	float: left;
	padding: 0 10px;
}
.popup_middle .tab_body .form_row .form_col label {
	color: #1e1e1e;
	font-size: 14px;
	display: block;
	margin-bottom: 5px;
}
.popup_middle .tab_body .form_row .form_col input[type="text"] {
	width: 100%;
	border: 0;
	background: #e8e8e8;
	padding: 8px;
	border-radius: 5px;
	height: 30px;
	color: #8d8d8d;
}
.popup_middle .tab_body .form_row .form_col select {
	width: 100%;
	border: 0;
	background: #e8e8e8;
	padding: 8px;
	border-radius: 5px;
	height: 30px;
	color: #8d8d8d;
}
.popup_middle .popup_button_group {
	float: right;
}

.popup_middle #list_loaitaisan_dinhgia {}
.popup_middle #list_loaitaisan_dinhgia [data-accordion] {}
.popup_middle #list_loaitaisan_dinhgia [data-accordion] [data-control] {
	width: 100%;
	height: 60px;
	background: #188287;
	border: 0;
	border-top: 1px solid #005b5f;
	border-bottom: 1px solid #009ca4;
	line-height: 60px;
	text-align: left;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}
.popup_middle #list_loaitaisan_dinhgia .icon_tabpanel {
	float: left;
}
.popup_middle .form_add_row_wrapper {}
.popup_middle .form_add_row_wrapper .btn_add_more_row {
	color: #e30e0e;
	padding: 5px 10px;
}


.popup_ketquadinhgia {}
.popup_ketquadinhgia .popup_middle_header {
	width: 100%;
	height: 139px;
	background: url(../images/popup_ketquadinhgia_header.jpg) top right no-repeat;
	border-bottom: 1px solid #aaa;
}
.popup_ketquadinhgia .popup_middle_header .popup_middle_header_logo {
	width: 260px;
	height: 100%;
	float: left;
	padding: 20px 40px;
}
.popup_ketquadinhgia .popup_middle_header .popup_middle_header_logo .popup_middle_header_logo_image {
	width: 190px;
	height: 47px;
	background: url(../images/cenvalue_logo2.png) center no-repeat;
}
.popup_ketquadinhgia .popup_middle_header .popup_middle_header_right {
	width: 780px;
	float: right;
	padding: 20px 40px;
}
.popup_ketquadinhgia .popup_middle_header .popup_middle_header_right .popup_middle_header_col {
	width: 50%;
	float: left;
	font-size: 12px;
}
.popup_ketquadinhgia .popup_middle_header .popup_middle_header_right .popup_middle_header_col p {
	margin-bottom: 5px;
}
.popup_ketquadinhgia .popup_middle_header .popup_middle_header_right .popup_middle_header_col strong {
	color: #00757b;
}

.ketquadinhgia_wrapper {
	padding: 20px 40px;
	position: relative;
	overflow: hidden;
}
.ketquadinhgia_wrapper .ketquadinhgia_header {}
.ketquadinhgia_wrapper .ketquadinhgia_header p {
	margin-bottom: 10px;
	font-size: 14px;
	line-height: 1.5;
}
.ketquadinhgia_wrapper .ketquadinhgia_header strong {
	color: #00757b;
}
.ketquadinhgia_wrapper .ketquadinhgia_header .ketquadinhgia_title {
	font-size: 20px;
	font-weight: bold;
	color: #00757b;
	text-transform: uppercase;
	margin: 0 0 10px;
}
.ketquadinhgia_table {
	font-size: 14px;
}
.ketquadinhgia_table thead {
	background: #00757b;
}
.ketquadinhgia_table thead th {
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	white-space: nowrap;
	padding: 10px;
	border: 1px solid #333;
}
.ketquadinhgia_table td {
	border: 1px solid #333;
	padding: 10px;
}
.ketquadinhgia_popup_note {
	background: #fff;
	padding: 40px;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
}
#show_ketquadinhgia_popup_note {
	margin: 20px 0px;
}
#show_ketquadinhgia_popup_note a {
	font-size: 14px;
}
.ketquadinhgia_popup_note .ketquadinhgia_popup_note_header {
	margin-bottom: 20px;
}
.ketquadinhgia_popup_note .ketquadinhgia_popup_note_header p {
	font-size: 18px;
	font-weight: bold;
	color: #00757b;
	display: inline-block;
}
.ketquadinhgia_popup_note .ketquadinhgia_popup_note_header .btn_close {
	display: inline-block;
	margin-left: 30px;
	font-size: 14px;
}
.ketquadinhgia_popup_note .ketquadinhgia_popup_note_header .btn_close {
}
.ketquadinhgia_popup_note .ketquadinhgia_popup_note_body {
	font-size: 14px;
	line-height: 1.5;
}
.ketquadinhgia_popup_note .ketquadinhgia_popup_note_body p {
	margin: 10px 0;
}
.ketquadinhgia_popup_note.show {
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
}
.ketquadinhgia_bottom_button {
	position: absolute;
	bottom: 20px;
	right: 35px;
}
.ketquadinhgia_bottom_button .hotline {
	background: url(../images/icon_hotline.png) center no-repeat;
	width: 25px;
	height: 25px;
	display: inline-block;
	text-indent: -999999px;
	margin-left: 10px;
}
.ketquadinhgia_bottom_button .print {
	background: url(../images/icon_print.png) center no-repeat;
	width: 25px;
	height: 25px;
	display: inline-block;
	text-indent: -999999px;
	margin-left: 10px;
}
.ketquadinhgia_bottom_button .email {
	background: url(../images/icon_email.png) center no-repeat;
	width: 25px;
	height: 25px;
	display: inline-block;
	text-indent: -999999px;
	margin-left: 10px;
}



.popup_dongiathitruong {
	padding-top: 100px;
}
.popup_dongiathitruong .popup_middle .popup_middle_inner {
	width: 800px;
}
.popup_dongiathitruong .popup_middle_header {
	background: #00757b url(../images/dongiathitruong_header.jpg) top right no-repeat;
	width: 100%;
	height: 90px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	display: table;
	padding: 0 40px;
}
.popup_dongiathitruong .popup_middle_header span {
	display: table-cell;
	vertical-align: middle;
}
.popup_dongiathitruong .dongia_row {
	padding: 20px 40px;
	font-size: 14px;
	border-bottom: 1px solid #aaa;
	float: none;
}
.popup_dongiathitruong .dongia_row.dongia_row50 {
	width: 50%;
	float: left;
	border-right: 1px solid #aaa;
}
.popup_dongiathitruong .dongia_row.dongia_row50:last-of-type {
	border-right: 0;
}
.popup_dongiathitruong .dongia_row .dongia_highlight {
	font-size: 18px;
	color: #00757b;
	margin-top: 10px;
}




/*=========================*\
	PROFILE
\*=========================*/	

.profile_wrapper {
	width: 1000px;
	margin-top: 60px;
	margin-left: 130px;
	padding-top: 40px;
	padding-bottom: 40px;
}
.profile_wrapper .profile_left {
	width: 270px;
	float: left;
	background: #00757b;
}
.profile_wrapper .profile_right {
	float: right;
	width: 700px;
	border: 1px solid #aaa;
	padding: 30px;
}
.profile_wrapper .profile_right.profile_lichsugiaodich {
	border: 0;
	padding: 0;
}
.profile_wrapper .profile_info_wrapper {
	padding: 20px 15px;
	border-bottom: 1px solid #343434;
	text-align: center;
}
.profile_wrapper .profile_avatar_wrapper {
	width: 90px;
	height: 90px;
	border: 3px solid #fff;
	overflow: hidden;
	border-radius: 50%;
	margin: 0 auto;
}
.profile_wrapper .profile_avatar {
	width: 100%;
	height: 100%;
}
.profile_wrapper .profile_name {
	text-align: center;
	padding: 10px 20px 0;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	color: #fff;
}
.profile_wrapper .profile_info_wrapper .sotien {
	color: #fff;
	font-size: 14px;
	margin-bottom: 10px;
}
.profile_wrapper .profile_menu {
	background: #fff;
}
.profile_wrapper .profile_menu ul {}
.profile_wrapper .profile_menu ul > li {
	text-align: center;
	border: 1px solid #343434;
	border-top: 0;
}
.profile_wrapper .profile_menu ul > li.current a,
.profile_wrapper .profile_menu ul > li a:hover {
	background: #555555;
	color: #fff;
}
.profile_wrapper .profile_menu ul > li a {
	color: #343434;
	text-decoration: none;
	display: block;
	padding: 15px;
	font-size: 14px;
}
.profile_wrapper .profile_right .profile_right_inner .button_group {
	float: right;
}
.profile_wrapper .profile_info_row {}
.profile_wrapper .profile_info_row .profile_info_col {
	padding: 10px 0;
	font-size: 14px;
}
.profile_wrapper .profile_info_row .profile_info_col:first-of-type {
	float: left;
	width: 200px;
}
.profile_wrapper .profile_info_row .profile_info_col:last-of-type {
	float: right;
	width: 330px;
}
.profile_wrapper .profile_info_row .profile_info_col .checkbox {
	display: inline-block;
	margin-right: 10px;
}
.icon_edit2 {
	background: url(../images/icon_edit2.png) center no-repeat;
	width: 26px;
	height: 29px;
	display: inline-block;
	float: left;
	margin-right: 5px;
}
.btn_edit2 {
	line-height: 29px;
	color: #343434;
	text-decoration: none;
	background: transparent;
	border: 0;
}
.profile_wrapper .profile_info_row .profile_info_col input[type="text"],
.profile_wrapper .profile_info_row .profile_info_col input[type="email"],
.profile_wrapper .profile_info_row .profile_info_col select {
	width: 100%;
	background: #eee;
	padding: 5px;
	border-radius: 5px;
	border: 0;
	font-size: 14px;
	color: #343434;
}
.profile_wrapper .filter_col {
	float: left;
	width: 150px;
	margin-right: 20px;
}
.profile_wrapper .filter_col label {
	font-weight: bold;
	text-transform: uppercase;
}
.profile_wrapper .filter_col .form-control {
	height: 30px;
	line-height: 30px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.profile_wrapper .filter_col .btn {
	font-size: 12px;
	padding: 7px 10px;
	margin-top: 21px;
	text-transform: uppercase;
}
.profile_wrapper .table {
	margin-top: 30px;
	border: 1px solid #aaa;
}
.profile_wrapper .table td {
	border-bottom: 1px solid #aaa;
	vertical-align: middle;
	font-size: 14px;
}
.profile_wrapper .table thead {
	background: #00757b;
	color: #fff;
}