.none {
    display: none
}
.popup_map_wrapper .property_thumbbnail {
    background: url('../images/hinh_taisancungdongia_35823583.png') center no-repeat; 
    background-size: cover;
}
.popup_center {
    width: 100%
}
.popup_map .property_title {
    padding: 20px 20px;
}
#search_box {
    /*width: 770px;*/
}
.popup_map_wrapper {
	position: relative;
	width: 530;
	height: auto;
}
.popup_map {
    top: 0;
    left: 0;
    margin-left: 0
}

.the-error {
    color : red;
    margin: 10px;
}

.profile_avatar {
    background: url('../images/icon_camera.png') center no-repeat; 
    background-size: cover;
}
#btn_dinhgia {
    border: 0
}

#modal_alert .close {
    width: 56px;
    height: 56px;
    background: #e07912;
    color: #b55c02;
    opacity: 1;
    top: 0;
    right: 0;
    margin-top: 0;
    position: absolute;
    font-size: 40px;
    text-shadow: none;
    z-index: 9;
}
#modal_alert .modal-header {
    background: #00757b url(../images/modal_dongia_header.png) top right no-repeat;
    color: #fff;
    text-transform: uppercase;
    height: 56px;
}

#modal_dongiasobo .modal-header {
    background: #00757b url(../images/modal_dongia_header.png) top right no-repeat;
    color: #fff;
    text-transform: uppercase;
    height: 56px;
}

#modal_dongiasobo .modal-header .close {
    width: 56px;
    height: 56px;
    background: #e07912;
    color: #b55c02;
    opacity: 1;
    top: 0;
    right: 0;
    margin-top: 0;
    position: absolute;
    font-size: 40px;
    text-shadow: none;
}
#modal_dongiasobo .form_col{
  width: 32%;
}

.page_contact_right .block_contact_form .form_group .form_field select {
    width: 100%;
    background: #e8e8e8;
    border-radius: 5px;
    height: 35px;
    line-height: 35px;
    padding: 0 10px;
    border: 0;
    color: #8d8d8d;
}
.page_contact_right .block_contact_form .form_group .form_field textarea{
    height: 100px
}
.yeu-to-khac-box .btn-group, .yeu-to-khac-box .btn-group .btn{
  background: #e8e8e8;
}

.yeu-to-khac-box .btn-group, .yeu-to-khac-box .btn-group .btn, .yeu-to-khac-box .btn-group .multiselect-container{
      width: 100%;
}
.yeu-to-khac-box .btn-group .btn{
  overflow: hidden;
}
.yeu-to-khac-box .btn-group .multiselect-container{
  background: white;  
  overflow: hidden;
}
.yeu-to-khac-box .btn-group span.multiselect-selected-text{  
  color: #8d8d8d;
}


.group-images {
    width: 260px;
    height: 55px;
    position: relative;
}
.image-item {
    width: 260px;
    height: 55px;
    position: absolute;
    top: 0;
    left: 0;
    float: left;
    background: #fff;
    margin: 0 2px;
    overflow: hidden;
    opacity: 0;
    text-align: center;
}
.image-item.active {
    opacity: 1;
}
/*.image-item.left {
    margin-right: 5px;
}*/

.modal_popup .head-top .pp_address {
    color: #00767b;
    font-family: '-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif';
    font-size: 12px;
}
.modal_popup .btn-list a:hover{
    color: #fff
}